<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Practice -> Making the Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full  text-white min-h-screen bg-zinc-900">
        <div class="form p-10">
            <form action="/create" method="post">
                <input class="block px-5 w-full rounded-md py-2 bg-zinc-800" type="text" placeholder="Title goes here"  name="title">
                <textarea  class="block px-5 w-full rounded-md mt-3 py-2  resize-none bg-zinc-800" placeholder="Write your task details here" name="details"></textarea>
                <input  class="my-3 bg-blue-600 px-5 py-2  rounded-md" type="submit" value="Create Task">
            </form>
        </div >
        <div class="task  flex gap-3 flex-wrap p-10 ">
            <% if(files.length>0){ %>
                <% files.forEach(function(val){ %>
                     <div class="task w-72  px-3 py-4    rounded-md bg-zinc-800 ">
                <h1  class="text-white text-3xl tracking-tighter"><%= val%></h1>
                <div class="flex w-full justify-between item-center mt-3">
                <a class="text-blue-500 inline-block " href="./files/<%= val%>">Read More</a>
                <a class="text-zinc-600" href="/edit/<%=val%>">edit filename</a>
                <a class="text-red-500" href="/delete/<%= val %>" onclick="return confirm('Are you sure you want to delete this file?')">Delete</a>
                </div>

            </div> 
            <% })%> 
            <% } else{%>
                <h3 class="text-zinc-600"> No Task is done</h3>
           <% }%>
  
        </div>
    </div>
</body>
</html>
